%rubic-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}
%rubic-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubic-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}